openapi: 3.0.0
servers:
  - url: 'https://gateway.marvel.com/'
info:
  title: gateway.marvel.com
  version: Cable
paths:
  /v1/public/characters:
    get:
      operationId: getCreatorCollection
      summary: Fetches lists of characters.
      description: Fetches lists of comic characters with optional filters. See notes on individual parameters below.
      parameters:
        - in: query
          description: Return only characters matching the specified full character name (e.g. Spider-Man).
          name: name
          required: false
          schema:
            type: string
        - in: query
          description: Return characters with names that begin with the specified string (e.g. Sp).
          name: nameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only characters which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only characters which appear in the specified comics (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only characters which appear the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only characters which appear in the specified events (accepts a comma-separated list of ids).
          name: events
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only characters which appear the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CharacterDataWrapper'
  '/v1/public/characters/{characterId}':
    get:
      operationId: getCharacterIndividual
      summary: Fetches a single character by id.
      description: This method fetches a single character resource.  It is the canonical URI for any character resource provided by the API.
      parameters:
        - in: path
          description: A single character id.
          name: characterId
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CharacterDataWrapper'
  '/v1/public/characters/{characterId}/comics':
    get:
      operationId: getComicsCharacterCollection
      summary: Fetches lists of comics filtered by a character id.
      description: 'Fetches lists of comics containing a specific character, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The character id.
          name: characterId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: 'Filter by the issue format (e.g. comic, digital comic, hardcover).'
          name: format
          required: false
          schema:
            type: string
        - in: query
          description: Filter by the issue format type (comic or collection).
          name: formatType
          required: false
          schema:
            type: string
        - in: query
          description: Exclude variant comics from the result set.
          name: noVariants
          required: false
          schema:
            type: boolean
        - in: query
          description: Return comics within a predefined date range.
          name: dateDescriptor
          required: false
          schema:
            type: string
        - in: query
          description: 'Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.'
          name: dateRange
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only issues in series whose title matches the input.
          name: title
          required: false
          schema:
            type: string
        - in: query
          description: Return only issues in series whose title starts with the input.
          name: titleStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only issues in series whose start year matches the input.
          name: startYear
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only issues in series whose issue number matches the input.
          name: issueNumber
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter by diamond code.
          name: diamondCode
          required: false
          schema:
            type: string
        - in: query
          description: Filter by digital comic id.
          name: digitalId
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter by UPC.
          name: upc
          required: false
          schema:
            type: string
        - in: query
          description: Filter by ISBN.
          name: isbn
          required: false
          schema:
            type: string
        - in: query
          description: Filter by EAN.
          name: ean
          required: false
          schema:
            type: string
        - in: query
          description: Filter by ISSN.
          name: issn
          required: false
          schema:
            type: string
        - in: query
          description: Include only results which are available digitally.
          name: hasDigitalIssue
          required: false
          schema:
            type: boolean
        - in: query
          description: Return only comics which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).
          name: creators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics which are part of the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics which take place in the specified events (accepts a comma-separated list of ids).
          name: events
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics which contain the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).
          name: sharedAppearances
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).
          name: collaborators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ComicDataWrapper'
  '/v1/public/characters/{characterId}/events':
    get:
      operationId: getCharacterEventsCollection
      summary: Fetches lists of events filtered by a character id.
      description: 'Fetches lists of events in which a specific character appears, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The character ID.
          name: characterId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter the event list by name.
          name: name
          required: false
          schema:
            type: string
        - in: query
          description: Return events with names that begin with the specified string (e.g. Sp).
          name: nameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only events which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only events which feature work by the specified creators (accepts a comma-separated list of ids).
          name: creators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only events which are part of the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only events which take place in the specified comics (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only events which contain the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventDataWrapper'
  '/v1/public/characters/{characterId}/series':
    get:
      operationId: getCharacterSeriesCollection
      summary: Fetches lists of series filtered by a character id.
      description: 'Fetches lists of comic series in which a specific character appears, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The character ID
          name: characterId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter by series title.
          name: title
          required: false
          schema:
            type: string
        - in: query
          description: Return series with titles that begin with the specified string (e.g. Sp).
          name: titleStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only series matching the specified start year.
          name: startYear
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only series which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only series which contain the specified comics (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only series which contain the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).
          name: events
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only series which feature work by the specified creators (accepts a comma-separated list of ids).
          name: creators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Filter the series by publication frequency type.
          name: seriesType
          required: false
          schema:
            type: string
        - in: query
          description: Return only series containing one or more comics with the specified format.
          name: contains
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SeriesDataWrapper'
  '/v1/public/characters/{characterId}/stories':
    get:
      operationId: getCharacterStoryCollection
      summary: Fetches lists of stories filtered by a character id.
      description: Fetches lists of comic stories  featuring a specific character with optional filters. See notes on individual parameters below.
      parameters:
        - in: path
          description: The character ID.
          name: characterId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only stories which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only stories contained in the specified (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only stories contained the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only stories which take place during the specified events (accepts a comma-separated list of ids).
          name: events
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only stories which feature work by the specified creators (accepts a comma-separated list of ids).
          name: creators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StoryDataWrapper'
  /v1/public/comics:
    get:
      operationId: getComicsCollection
      summary: Fetches lists of comics.
      description: Fetches lists of comics with optional filters. See notes on individual parameters below.
      parameters:
        - in: query
          description: 'Filter by the issue format (e.g. comic, digital comic, hardcover).'
          name: format
          required: false
          schema:
            type: string
        - in: query
          description: Filter by the issue format type (comic or collection).
          name: formatType
          required: false
          schema:
            type: string
        - in: query
          description: 'Exclude variants (alternate covers, secondary printings, director''s cuts, etc.) from the result set.'
          name: noVariants
          required: false
          schema:
            type: boolean
        - in: query
          description: Return comics within a predefined date range.
          name: dateDescriptor
          required: false
          schema:
            type: string
        - in: query
          description: 'Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.'
          name: dateRange
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only issues in series whose title matches the input.
          name: title
          required: false
          schema:
            type: string
        - in: query
          description: Return only issues in series whose title starts with the input.
          name: titleStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only issues in series whose start year matches the input.
          name: startYear
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only issues in series whose issue number matches the input.
          name: issueNumber
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter by diamond code.
          name: diamondCode
          required: false
          schema:
            type: string
        - in: query
          description: Filter by digital comic id.
          name: digitalId
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter by UPC.
          name: upc
          required: false
          schema:
            type: string
        - in: query
          description: Filter by ISBN.
          name: isbn
          required: false
          schema:
            type: string
        - in: query
          description: Filter by EAN.
          name: ean
          required: false
          schema:
            type: string
        - in: query
          description: Filter by ISSN.
          name: issn
          required: false
          schema:
            type: string
        - in: query
          description: Include only results which are available digitally.
          name: hasDigitalIssue
          required: false
          schema:
            type: boolean
        - in: query
          description: Return only comics which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).
          name: creators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics which feature the specified characters (accepts a comma-separated list of ids).
          name: characters
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics which are part of the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics which take place in the specified events (accepts a comma-separated list of ids).
          name: events
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics which contain the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear). Accepts a comma-separated list of ids.
          name: sharedAppearances
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work). Accepts a comma-separated list of ids.
          name: collaborators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ComicDataWrapper'
  '/v1/public/comics/{comicId}':
    get:
      operationId: getComicIndividual
      summary: Fetches a single comic by id.
      description: This method fetches a single comic resource.  It is the canonical URI for any comic resource provided by the API.
      parameters:
        - in: path
          description: A single comic.
          name: comicId
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ComicDataWrapper'
  '/v1/public/comics/{comicId}/characters':
    get:
      operationId: getComicCharacterCollection
      summary: Fetches lists of characters filtered by a comic id.
      description: Fetches lists of characters which appear in a specific comic with optional filters. See notes on individual parameters below.
      parameters:
        - in: path
          description: The comic id.
          name: comicId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only characters matching the specified full character name (e.g. Spider-Man).
          name: name
          required: false
          schema:
            type: string
        - in: query
          description: Return characters with names that begin with the specified string (e.g. Sp).
          name: nameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only characters which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only characters which appear the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only characters which appear comics that took place in the specified events (accepts a comma-separated list of ids).
          name: events
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only characters which appear the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CharacterDataWrapper'
  '/v1/public/comics/{comicId}/creators':
    get:
      operationId: getCreatorCollectionByComicId
      summary: Fetches lists of creators filtered by a comic id.
      description: 'Fetches lists of comic creators whose work appears in a specific comic, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The comic id.
          name: comicId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter by creator first name (e.g. brian).
          name: firstName
          required: false
          schema:
            type: string
        - in: query
          description: Filter by creator middle name (e.g. Michael).
          name: middleName
          required: false
          schema:
            type: string
        - in: query
          description: Filter by creator last name (e.g. Bendis).
          name: lastName
          required: false
          schema:
            type: string
        - in: query
          description: 'Filter by suffix or honorific (e.g. Jr., Sr.).'
          name: suffix
          required: false
          schema:
            type: string
        - in: query
          description: 'Filter by creator names that match critera (e.g. B, St L).'
          name: nameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: 'Filter by creator first names that match critera (e.g. B, St L).'
          name: firstNameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Filter by creator middle names that match critera (e.g. Mi).
          name: middleNameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Filter by creator last names that match critera (e.g. Ben).
          name: lastNameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only creators which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only creators who worked on the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only creators who worked on the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreatorDataWrapper'
  '/v1/public/comics/{comicId}/events':
    get:
      operationId: getIssueEventsCollection
      summary: Fetches lists of events filtered by a comic id.
      description: 'Fetches lists of events in which a specific comic appears, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The comic ID.
          name: comicId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter the event list by name.
          name: name
          required: false
          schema:
            type: string
        - in: query
          description: Return events with names that begin with the specified string (e.g. Sp).
          name: nameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only events which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only events which feature work by the specified creators (accepts a comma-separated list of ids).
          name: creators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only events which feature the specified characters (accepts a comma-separated list of ids).
          name: characters
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only events which are part of the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only events which contain the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventDataWrapper'
  '/v1/public/comics/{comicId}/stories':
    get:
      operationId: getComicStoryCollection
      summary: Fetches lists of stories filtered by a comic id.
      description: 'Fetches lists of comic stories in a specific comic issue, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The comic ID.
          name: comicId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only stories which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only stories contained the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only stories which take place during the specified events (accepts a comma-separated list of ids).
          name: events
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only stories which feature work by the specified creators (accepts a comma-separated list of ids).
          name: creators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only stories which feature the specified characters (accepts a comma-separated list of ids).
          name: characters
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StoryDataWrapper'
  /v1/public/creators:
    get:
      operationId: getAllCreatorCollection
      summary: Fetches lists of creators.
      description: Fetches lists of comic creators with optional filters. See notes on individual parameters below.
      parameters:
        - in: query
          description: Filter by creator first name (e.g. Brian).
          name: firstName
          required: false
          schema:
            type: string
        - in: query
          description: Filter by creator middle name (e.g. Michael).
          name: middleName
          required: false
          schema:
            type: string
        - in: query
          description: Filter by creator last name (e.g. Bendis).
          name: lastName
          required: false
          schema:
            type: string
        - in: query
          description: 'Filter by suffix or honorific (e.g. Jr., Sr.).'
          name: suffix
          required: false
          schema:
            type: string
        - in: query
          description: 'Filter by creator names that match critera (e.g. B, St L).'
          name: nameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: 'Filter by creator first names that match critera (e.g. B, St L).'
          name: firstNameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Filter by creator middle names that match critera (e.g. Mi).
          name: middleNameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Filter by creator last names that match critera (e.g. Ben).
          name: lastNameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only creators which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only creators who worked on the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only creators who worked on comics that took place in the specified events (accepts a comma-separated list of ids).
          name: events
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only creators who worked on the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreatorDataWrapper'
  '/v1/public/creators/{creatorId}':
    get:
      operationId: getCreatorIndividual
      summary: Fetches a single creator by id.
      description: This method fetches a single creator resource.  It is the canonical URI for any creator resource provided by the API.
      parameters:
        - in: path
          description: A single creator id.
          name: creatorId
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreatorDataWrapper'
  '/v1/public/creators/{creatorId}/comics':
    get:
      operationId: getComicsCollectionByCreatorId
      summary: Fetches lists of comics filtered by a creator id.
      description: 'Fetches lists of comics in which the work of a specific creator appears, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The creator ID.
          name: creatorId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: 'Filter by the issue format (e.g. comic, digital comic, hardcover).'
          name: format
          required: false
          schema:
            type: string
        - in: query
          description: Filter by the issue format type (comic or collection).
          name: formatType
          required: false
          schema:
            type: string
        - in: query
          description: Exclude variant comics from the result set.
          name: noVariants
          required: false
          schema:
            type: boolean
        - in: query
          description: Return comics within a predefined date range.
          name: dateDescriptor
          required: false
          schema:
            type: string
        - in: query
          description: 'Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.'
          name: dateRange
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only issues in series whose title matches the input.
          name: title
          required: false
          schema:
            type: string
        - in: query
          description: Return only issues in series whose title starts with the input.
          name: titleStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only issues in series whose start year matches the input.
          name: startYear
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only issues in series whose issue number matches the input.
          name: issueNumber
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter by diamond code.
          name: diamondCode
          required: false
          schema:
            type: string
        - in: query
          description: Filter by digital comic id.
          name: digitalId
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter by UPC.
          name: upc
          required: false
          schema:
            type: string
        - in: query
          description: Filter by ISBN.
          name: isbn
          required: false
          schema:
            type: string
        - in: query
          description: Filter by EAN.
          name: ean
          required: false
          schema:
            type: string
        - in: query
          description: Filter by ISSN.
          name: issn
          required: false
          schema:
            type: string
        - in: query
          description: Include only results which are available digitally.
          name: hasDigitalIssue
          required: false
          schema:
            type: array
            items:
              type: boolean
        - in: query
          description: Return only comics which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only comics which feature the specified characters (accepts a comma-separated list of ids).
          name: characters
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics which are part of the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics which take place in the specified events (accepts a comma-separated list of ids).
          name: events
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics which contain the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).
          name: sharedAppearances
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).
          name: collaborators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ComicDataWrapper'
  '/v1/public/creators/{creatorId}/events':
    get:
      operationId: getCreatorEventsCollection
      summary: Fetches lists of events filtered by a creator id.
      description: Fetches lists of events featuring the work of a specific creator with optional filters. See notes on individual parameters below.
      parameters:
        - in: path
          description: The creator ID.
          name: creatorId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter the event list by name.
          name: name
          required: false
          schema:
            type: string
        - in: query
          description: Return events with names that begin with the specified string (e.g. Sp).
          name: nameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only events which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only events which feature the specified characters (accepts a comma-separated list of ids).
          name: characters
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only events which are part of the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only events which take place in the specified comics (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only events which contain the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventDataWrapper'
  '/v1/public/creators/{creatorId}/series':
    get:
      operationId: getCreatorSeriesCollection
      summary: Fetches lists of series filtered by a creator id.
      description: 'Fetches lists of comic series in which a specific creator''s work appears, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The creator ID.
          name: creatorId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter by series title.
          name: title
          required: false
          schema:
            type: string
        - in: query
          description: Return series with titles that begin with the specified string (e.g. Sp).
          name: titleStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only series matching the specified start year.
          name: startYear
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only series which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only series which contain the specified comics (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only series which contain the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).
          name: events
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only series which feature the specified characters (accepts a comma-separated list of ids).
          name: characters
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Filter the series by publication frequency type.
          name: seriesType
          required: false
          schema:
            type: string
        - in: query
          description: Return only series containing one or more comics with the specified format.
          name: contains
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SeriesDataWrapper'
  '/v1/public/creators/{creatorId}/stories':
    get:
      operationId: getCreatorStoryCollection
      summary: Fetches lists of stories filtered by a creator id.
      description: Fetches lists of comic stories by a specific creator with optional filters. See notes on individual parameters below.
      parameters:
        - in: path
          description: The ID of the creator.
          name: creatorId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only stories which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only stories contained in the specified comics (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only stories contained the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only stories which take place during the specified events (accepts a comma-separated list of ids).
          name: events
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only stories which feature the specified characters (accepts a comma-separated list of ids).
          name: characters
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StoryDataWrapper'
  /v1/public/events:
    get:
      operationId: getEventsCollection
      summary: Fetches lists of events.
      description: Fetches lists of events with optional filters. See notes on individual parameters below.
      parameters:
        - in: query
          description: Return only events which match the specified name.
          name: name
          required: false
          schema:
            type: string
        - in: query
          description: Return events with names that begin with the specified string (e.g. Sp).
          name: nameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only events which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only events which feature work by the specified creators (accepts a comma-separated list of ids).
          name: creators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only events which feature the specified characters (accepts a comma-separated list of ids).
          name: characters
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only events which are part of the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only events which take place in the specified comics (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only events which take place in the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventDataWrapper'
  '/v1/public/events/{eventId}':
    get:
      operationId: getEventIndividual
      summary: Fetches a single event by id.
      description: This method fetches a single event resource.  It is the canonical URI for any event resource provided by the API.
      parameters:
        - in: path
          description: A single event.
          name: eventId
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EventDataWrapper'
  '/v1/public/events/{eventId}/characters':
    get:
      operationId: getEventCharacterCollection
      summary: Fetches lists of characters filtered by an event id.
      description: 'Fetches lists of characters which appear in a specific event, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The event ID
          name: eventId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only characters matching the specified full character name (e.g. Spider-Man).
          name: name
          required: false
          schema:
            type: string
        - in: query
          description: Return characters with names that begin with the specified string (e.g. Sp).
          name: nameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only characters which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only characters which appear in the specified comics (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only characters which appear the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only characters which appear the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CharacterDataWrapper'
  '/v1/public/events/{eventId}/comics':
    get:
      operationId: getComicsCollectionByEventId
      summary: Fetches lists of comics filtered by an event id.
      description: 'Fetches lists of comics which take place during a specific event, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The event id.
          name: eventId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: 'Filter by the issue format (e.g. comic, digital comic, hardcover).'
          name: format
          required: false
          schema:
            type: string
        - in: query
          description: Filter by the issue format type (comic or collection).
          name: formatType
          required: false
          schema:
            type: string
        - in: query
          description: Exclude variant comics from the result set.
          name: noVariants
          required: false
          schema:
            type: array
            items:
              type: boolean
        - in: query
          description: Return comics within a predefined date range.
          name: dateDescriptor
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: 'Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.'
          name: dateRange
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only issues in series whose title matches the input.
          name: title
          required: false
          schema:
            type: string
        - in: query
          description: Return only issues in series whose title starts with the input.
          name: titleStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only issues in series whose start year matches the input.
          name: startYear
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only issues in series whose issue number matches the input.
          name: issueNumber
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter by diamond code.
          name: diamondCode
          required: false
          schema:
            type: string
        - in: query
          description: Filter by digital comic id.
          name: digitalId
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter by UPC.
          name: upc
          required: false
          schema:
            type: string
        - in: query
          description: Filter by ISBN.
          name: isbn
          required: false
          schema:
            type: string
        - in: query
          description: Filter by EAN.
          name: ean
          required: false
          schema:
            type: string
        - in: query
          description: Filter by ISSN.
          name: issn
          required: false
          schema:
            type: string
        - in: query
          description: Include only results which are available digitally.
          name: hasDigitalIssue
          required: false
          schema:
            type: array
            items:
              type: boolean
        - in: query
          description: Return only comics which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).
          name: creators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics which feature the specified characters (accepts a comma-separated list of ids).
          name: characters
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics which are part of the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics which take place in the specified events (accepts a comma-separated list of ids).
          name: events
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics which contain the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).
          name: sharedAppearances
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).
          name: collaborators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ComicDataWrapper'
  '/v1/public/events/{eventId}/creators':
    get:
      operationId: getCreatorCollectionByEventId
      summary: Fetches lists of creators filtered by an event id.
      description: 'Fetches lists of comic creators whose work appears in a specific event, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The event ID.
          name: eventId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter by creator first name (e.g. brian).
          name: firstName
          required: false
          schema:
            type: string
        - in: query
          description: Filter by creator middle name (e.g. Michael).
          name: middleName
          required: false
          schema:
            type: string
        - in: query
          description: Filter by creator last name (e.g. Bendis).
          name: lastName
          required: false
          schema:
            type: string
        - in: query
          description: 'Filter by suffix or honorific (e.g. Jr., Sr.).'
          name: suffix
          required: false
          schema:
            type: string
        - in: query
          description: 'Filter by creator names that match critera (e.g. B, St L).'
          name: nameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: 'Filter by creator first names that match critera (e.g. B, St L).'
          name: firstNameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Filter by creator middle names that match critera (e.g. Mi).
          name: middleNameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Filter by creator last names that match critera (e.g. Ben).
          name: lastNameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only creators which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only creators who worked on the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only creators who worked on the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreatorDataWrapper'
  '/v1/public/events/{eventId}/series':
    get:
      operationId: getEventSeriesCollection
      summary: Fetches lists of series filtered by an event id.
      description: 'Fetches lists of comic series in which a specific event takes place, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The event ID.
          name: eventId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Filter by series title.
          name: title
          required: false
          schema:
            type: string
        - in: query
          description: Return series with titles that begin with the specified string (e.g. Sp).
          name: titleStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only series matching the specified start year.
          name: startYear
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only series which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only series which contain the specified comics (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only series which contain the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only series which feature work by the specified creators (accepts a comma-separated list of ids).
          name: creators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only series which feature the specified characters (accepts a comma-separated list of ids).
          name: characters
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Filter the series by publication frequency type.
          name: seriesType
          required: false
          schema:
            type: string
        - in: query
          description: Return only series containing one or more comics with the specified format.
          name: contains
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SeriesDataWrapper'
  '/v1/public/events/{eventId}/stories':
    get:
      operationId: getEventStoryCollection
      summary: Fetches lists of stories filtered by an event id.
      description: 'Fetches lists of comic stories from a specific event, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The ID of the event.
          name: eventId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only stories which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only stories contained in the specified (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only stories contained the specified series (accepts a comma-separated list of ids).
          name: series
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only stories which feature work by the specified creators (accepts a comma-separated list of ids).
          name: creators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only stories which feature the specified characters (accepts a comma-separated list of ids).
          name: characters
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StoryDataWrapper'
  /v1/public/series:
    get:
      operationId: getSeriesCollection
      summary: Fetches lists of series.
      description: Fetches lists of comic series with optional filters. See notes on individual parameters below.
      parameters:
        - in: query
          description: Return only series matching the specified title.
          name: title
          required: false
          schema:
            type: string
        - in: query
          description: Return series with titles that begin with the specified string (e.g. Sp).
          name: titleStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only series matching the specified start year.
          name: startYear
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only series which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only series which contain the specified comics (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only series which contain the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).
          name: events
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only series which feature work by the specified creators (accepts a comma-separated list of ids).
          name: creators
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only series which feature the specified characters (accepts a comma-separated list of ids).
          name: characters
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Filter the series by publication frequency type.
          name: seriesType
          required: false
          schema:
            type: string
        - in: query
          description: Return only series containing one or more comics with the specified format.
          name: contains
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SeriesDataWrapper'
  '/v1/public/series/{seriesId}':
    get:
      operationId: getSeriesIndividual
      summary: Fetches a single comic series by id.
      description: This method fetches a single comic series resource.  It is the canonical URI for any comic series resource provided by the API.
      parameters:
        - in: path
          description: Filter by series title.
          name: seriesId
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SeriesDataWrapper'
  '/v1/public/series/{seriesId}/characters':
    get:
      operationId: getSeriesCharacterWrapper
      summary: Fetches lists of characters filtered by a series id.
      description: 'Fetches lists of characters which appear in specific series, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The series id.
          name: seriesId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: Return only characters matching the specified full character name (e.g. Spider-Man).
          name: name
          required: false
          schema:
            type: string
        - in: query
          description: Return characters with names that begin with the specified string (e.g. Sp).
          name: nameStartsWith
          required: false
          schema:
            type: string
        - in: query
          description: Return only characters which have been modified since the specified date.
          name: modifiedSince
          required: false
          schema:
            type: string
            format: date
        - in: query
          description: Return only characters which appear in the specified comics (accepts a comma-separated list of ids).
          name: comics
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only characters which appear comics that took place in the specified events (accepts a comma-separated list of ids).
          name: events
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Return only characters which appear the specified stories (accepts a comma-separated list of ids).
          name: stories
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          name: orderBy
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
          description: Limit the result set to the specified number of resources.
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          description: Skip the specified number of resources in the result set.
          name: offset
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: No response was specified
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CharacterDataWrapper'
  '/v1/public/series/{seriesId}/comics':
    get:
      operationId: getComicsCollectionBySeriesId
      summary: Fetches lists of comics filtered by a series id.
      description: 'Fetches lists of comics which are published as part of a specific series, with optional filters. See notes on individual parameters below.'
      parameters:
        - in: path
          description: The series ID.
          name: seriesId
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          description: 'Filter by the issue format (e.g. comic, digital comic, hardcover).'
          name: format
          required: false
          schema:
            type: string
        - in: query
          description: Filter by the issue format type (comic or collection).
          name: formatType
          required: false
          schema:
            type: string
        - in: query
          description: Exclude variant comics from the result set.
          name: noVariants
          required: false
          schema:
            type: array
            items:
              type: boolean
        - in: query
          description: Return comics within a predefined date range.
          name: dateDescriptor
          required: false
          schema:
            type: array
            items:
              type: string
        - in: query
[...]
